* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
    /* font-variation-settings:
        "wdth" 100; */
}

/* BACKGROUND PTRN  */
/* src : patterncraft.fun Diagonal Fade Center Grid */
.bg-pattern {
  min-height: 100vh;
  width: 100%;
  background-color: #ffff;
  position: relative;
}

.bg-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image:
    linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
  background-size: 32px 32px;
  -webkit-mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
  mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
}
