* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bg pattern fix */
body.bg-pattern {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F5F0;
  position: relative;
}

body.bg-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image:
    linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
  background-size: 32px 32px;
  -webkit-mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
  mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  height: 100vh;
}

.left {
  position: relative;
  overflow: hidden;
}

.character {
  position: absolute;
  left: -50%;
  top: 10%;
  scale: 1.3;
  width: 650px;
  transition: left .9s cubic-bezier(.22, .61, .36, 1);
}

.app.explore .character {
  left: 5%;
}

.right {
  position: relative;
  padding: 80px;
  display: flex;
  align-items: center;
}

.intro {
  max-width: 420px;
  transition: opacity .4s ease, transform .4s ease;
}

.app.explore .intro {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.intro h1 {
  font-size: 50px;
}

.intro p {
  margin: 18px 0 32px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #555555;
}

/* style carousel */
.carousel {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
}

.app.explore .carousel {
  opacity: 1;
  pointer-events: auto;
}

.stack {
  width: min(550px, 80%);
  aspect-ratio: 1 / 1;
  position: relative;
}

.card {
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 10px;
  padding: 26px;
  border: 2px solid #758A93;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 8px;
  transition:
    transform .7s cubic-bezier(.22, .61, .36, 1),
    opacity .18s ease-out;
}

.card[data-pos="0"] {
  z-index: 5;
  transform: translateY(0);
  opacity: 1;
}

.card[data-pos="1"] {
  z-index: 4;
  transform: translateY(-12px);
  opacity: 0.9;
}

.card[data-pos="2"] {
  z-index: 3;
  transform: translateY(-24px);
  opacity: 0.75;
}

.card[data-pos]:not([data-pos="0"]):not([data-pos="1"]):not([data-pos="2"]) {
  opacity: 0;
  transform: translateY(-36px);
  pointer-events: none;
}

.card.exit {
  transform: translateY(24px);
  opacity: 0;
}

.card button {
  align-self: flex-end;
  padding: 10px 22px;
  border-radius: 14px;
  border: 3px solid #F39F9F;
  background: none;
  color: #B95E82;
  cursor: pointer;
}

/* From Uiverse.io by alexmaracinaru */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  color: #E23E57;
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 18px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #E23E57;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFA239;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* style leraninhng journey */
.timeline-card {
    overflow: hidden;
}

.timeline-scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 6px;
}

.timeline-scroll::-webkit-scrollbar {
    width: 3px;
}
.timeline-scroll::-webkit-scrollbar-thumb {
    background: #F1E2E2;
    border-radius: 10px;
}

.timeline_component {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 8px;
}

.timeline_component::before {
    content: "";
    position: absolute;
    left: 107px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #B83B5E;
}

.timeline_item {
    display: grid;
    grid-template-columns: 70px 44px 1fr;
    align-items: center;
    gap: 8px;
}

.timeline_date-text {
    color: #FA891A;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
}

.timeline_centre {
    display: flex;
    justify-content: center;
}

.timeline_circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #B83B5E;
    margin-top: 4px;
}

.timeline_right img {
    width: 5rem;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
}

.timeline_right p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}
