* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Sour Gummy", sans-serif !important;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  /* font-variation-settings:
        "wdth" 100; */
  overflow: hidden;
  touch-action: pan-y;
}

/* BACKGROUND PTRN  */
/* src : patterncraft.fun Diagonal Fade Center Grid */
.bg-pattern {
  min-height: 100vh;
  width: 100%;
  background-color: #ffff;
  /* background-color: #000; */
  position: relative;
}

.bg-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image:
    linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
  background-size: 32px 32px;
  -webkit-mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
  mask-image: radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
}

/* pose */
.poses {
  top: -3%;
  position: absolute;
  text-align: center;
}

.character-img {
  width: 100%;
  max-width: 550px;
  height: auto;
}


/* book animation */
/* reference : https://youtu.be/6TBpfjxdcDg?si=mFkqtlP7fLzTPuoO
source : https://www.youtube.com/redirect?event=comments&redir_token=QUFFLUhqbHBVY1JmTkU0ZEw2eTRNWVEza3FSMFQwaDM2Z3xBQ3Jtc0ttQ01tTDFkV2JUMzJXeGRJNWFCaDd1eHBTeDhsanF0cXozQVpjRXpaZG42NjQ0SlpHcTNiV1pUWERzNGhSNUg2aXdPRm5Xa25Cb1VvbExXSjV3TzVuLVJjWFBGNW9lSDAxNjRDR3dwbGRfZkFJX1RQaw&q=https%3A%2F%2Fgithub.com%2Fjolanjose%2FSignphic%2Ftree%2Fmain%2FVirtual%2520Book%2520Css%2520Jolan */
.book-container {
  perspective: 1500px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-wrapper {
  transform: scale(0.85);
  transform-origin: center;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  width: 220px;
  height: 300px;
  transition: transform 0.5s ease;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 5px 8px 8px 5px;
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px 8px 8px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.front .page-front,
.back .page-front {
  background: #991825;
}

.page1 .page-front,
.page1 .page-back,
.page2 .page-front,
.page2 .page-back,
.page3 .page-front,
.page3 .page-back,
.page4 .page-front,
.page4 .page-back,
.page5 .page-front,
.page5 .page-back,
.page6 .page-front,
.page6 .page-back {
  background: white;
}

.page-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.page-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.front {
  z-index: 14;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.page1 {
  z-index: 13;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.page2 {
  z-index: 12;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.page3 {
  z-index: 11;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.page4 {
  z-index: 10;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.page5 {
  z-index: 9;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.page6 {
  z-index: 8;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}

.back {
  z-index: 7;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.book.page0-open .front {
  transform: rotateY(-20deg);
}

.book.page1-open .front {
  transform: rotateY(-160deg);
}

.book.page1-open .page1 {
  transform: rotateY(-150deg);
}

.book.page1-open .page2 {
  transform: rotateY(-30deg);
}

.book.page1-open .page3 {
  transform: rotateY(-25deg);
}

.book.page2-open .front {
  transform: rotateY(-160deg);
}

.book.page2-open .page1 {
  transform: rotateY(-160deg);
}

.book.page2-open .page2 {
  transform: rotateY(-150deg);
}

.book.page2-open .page3 {
  transform: rotateY(-30deg);
}

.book.page2-open .page4 {
  transform: rotateY(-25deg);
}

.book.page3-open .front {
  transform: rotateY(-160deg);
}

.book.page3-open .page1 {
  transform: rotateY(-160deg);
}

.book.page3-open .page2 {
  transform: rotateY(-160deg);
}

.book.page3-open .page3 {
  transform: rotateY(-150deg);
}

.book.page3-open .page4 {
  transform: rotateY(-30deg);
}

.book.page3-open .page5 {
  transform: rotateY(-25deg);
}

.book.page4-open .front {
  transform: rotateY(-160deg);
}

.book.page4-open .page1 {
  transform: rotateY(-160deg);
}

.book.page4-open .page2 {
  transform: rotateY(-160deg);
}

.book.page4-open .page3 {
  transform: rotateY(-160deg);
}

.book.page4-open .page4 {
  transform: rotateY(-150deg);
}

.book.page4-open .page5 {
  transform: rotateY(-30deg);
}

.book.page4-open .page6 {
  transform: rotateY(-25deg);
}

.book.page5-open .front {
  transform: rotateY(-160deg);
}

.book.page5-open .page1 {
  transform: rotateY(-160deg);
}

.book.page5-open .page2 {
  transform: rotateY(-160deg);
}

.book.page5-open .page3 {
  transform: rotateY(-160deg);
}

.book.page5-open .page4 {
  transform: rotateY(-160deg);
}

.book.page5-open .page5 {
  transform: rotateY(-150deg);
}

.book.page5-open .page6 {
  transform: rotateY(-30deg);
}

.book.page5-open .back {
  transform: rotateY(-25deg);
}

.book.page6-open .front {
  transform: rotateY(-160deg);
}

.book.page6-open .page1 {
  transform: rotateY(-160deg);
}

.book.page6-open .page2 {
  transform: rotateY(-160deg);
}

.book.page6-open .page3 {
  transform: rotateY(-160deg);
}

.book.page6-open .page4 {
  transform: rotateY(-160deg);
}

.book.page6-open .page5 {
  transform: rotateY(-160deg);
}

.book.page6-open .page6 {
  transform: rotateY(-150deg);
}

.book.page6-open .back {
  transform: rotateY(-30deg);
}

.title {
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Bangers', cursive;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-title {
  color: #333;
  font-family: 'Bangers', cursive;
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-text {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2 !important;
  color: #555;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  max-width: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls {
  position: absolute;
  bottom: 50%;
  display: flex;
  gap: 320pt;
  left: 43.5%;
}

/* From Uiverse.io by elijahgummer */
/* https://uiverse.io/elijahgummer/sweet-rabbit-5 */
.control-btn {
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}

.control-btn:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

/* .control-btn:not(:disabled) {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
} */

.control-btn:disabled {
  display: none;
  cursor: not-allowed;
}

.sticky-btn-custom {
  position: fixed;
  bottom: 200px;
  left: 100pc;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* From Uiverse.io by vinodjangid07 */
/* https://uiverse.io/vinodjangid07/quick-moth-22 */
#checkbox {
  display: none;
}
/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}

.switch {
  position: fixed;
  top: 25px;
  right: 100px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}

/* .instructions {
  position: absolute;
  top: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 100%;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* .page-counter {
  position: absolute;
  top: 50px;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.book-shadow {
  position: absolute;
  width: 240px;
  height: 340px;
  border-radius: 5px 10px 10px 5px;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  z-index: 0;
  transition: all 0.5s ease;
}

.book-spine {
  position: absolute;
  width: 15px;
  height: 100%;
  background: #991825;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
  z-index: 15;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Source - https://stackoverflow.com/a
Posted by tim.baker, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-21, License - CC BY-SA 3.0 */
.page-content.white-page {
  background: #fffff9;
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);*/
  border: 2px solid #ede8cc;
  color: #333;
}

/* .nav-status {
  position: absolute;
  bottom: 80px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: center;
  width: 100%;
} */